body {
  background-color: #151513;
  height: auto;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

body.noScroll { /* ...or body.dialogShowing */
  overflow: hidden;
}


/* Flexbox */
.centered-vert-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexstart-vert-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/*

  Extras
*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* Text */
.artist-text {
  z-index: 0;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 30px;

  flex-wrap: wrap;
}
.clearfix {
  clear: both;
}

.btn-share {
  color: #f3e576 !important;
  background-color: #151513 !important;
  font-family: 'Poppins', sans-serif !important;
}

.buttons-panel {
  margin-right: auto;
  margin-left: auto;
}

.buttons-panel .button-in {
  cursor: pointer;
  transition: 0.15s;
  width: 80px;
  height: 80px;
  padding: 5px;
}
.button-in:hover,
.button-in:active {
  transform: scale(0.9, 0.9);
}

.button-small {
  width: 25px !important;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

/* APP WRAPPER */
#WRAPPER {
  margin-top: 60px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*header */

.header-container{
  margin: 30px auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.header-item{
  color: #f3e576;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

#MENU_BUTTON{
  width:25px;
  margin-top: auto;
  margin-bottom: auto;
}

#CENTER_ICON{
  font-size: 35px;
}

#TOP_RIGHT_BUTTON{
  font-size: 17px;
  background-color: #f3e576;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
}

/* Card */
.card-container-god {
  /* Vertical Flex Container for Entire Space Surrounding Cards */
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;
}

.card-container {
  margin: 30px auto;
  width: 300px;
  height: 100%;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.3s;

  /* Update Margins*/
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 30px;

  /* Vertical Fle for Entire card*/
  display: flex;
  flex-direction: column;
}

.card-container:hover,
.card-container:active {
  transform: scale(1.05, 1.05);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.card-image-container {
  position: relative;
  width: inherit;
  height: 300px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.invisible-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.information-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  /*// display: none;*/
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  /*overflow: hidden;*/
}

.information-overlay .fill {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  transform: translate3d(100%, 0, 0);
  transition: transform 350ms;
  /*overflow*/
  overflow: hidden;
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: 'Poppins', sans-serif;

  font-weight: bold;
  font-size: 30px;
  /*margin-top: -80px;*/
  /*height: 40px;*/
}

.title-black {
  color: black;
}
.btn-sc {
  flex: 25%;
  width: 100%;
  border-radius: 40px;
  object-fit: cover;
  background-color: #ff7700 !important;
  color: white !important;
  border-radius: 0px 0px 20px 20px !important;
}

.information {
  width: 100%;
  border-radius: 40px;
  object-fit: cover;
  color: white !important-;
  font-family: 'Poppins', sans-serif;
}
.information-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;

  /*overflow*/

  overflow: hidden;
  text-overflow: ellipsis;
}
.details {
  width: 75%;

  object-fit: cover;
  border-radius: 0 0 0 0;
  z-index: 1;

  padding: 2px 16px;
  font-family: 'Poppins', sans-serif;

  color: white;

  /*Flex For Track Name and Artist*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.icon-on-overlay {
  width: 25%;
  height: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
  /*background-color: red;*/
}

.title-text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  /*background-color: blue;*/
  z-index: -1;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/*Swipable*/
.swipe-wrapper {
  position: 'relative';
  width: '100%';
  display: 'flex';
  justify-content: 'center';
}

.swipable {
  display: 'flex';
  justify-content: 'center';
  width: '100%';
  height: '100%';
  overflow-x: 'hidden';
}

/*Card */
.bottom-card {
  cursor: 'pointer';
  user-select: 'none';
  position: 'fixed';
  top: '62px';
  bottom: '0px';
  height: 'inherit';
  z-index: -1;
  width: 100%;
}



/* Loader (from loading.io/css) */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fdd;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fdd transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*mn*/

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none !important;
}

.instructions {
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.sc-input {
  width: 70%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.drop-in {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;

}


.preview-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

 }

.voila {
  color: #f3e576 !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 30px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  /*p*/
    margin-top: 0px;
  margin-bottom: 0px;
}


.pure-form {
  color: white;
}

.preview-form {
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

    /*p*/
  margin-top: 20px;
  margin-bottom: 20px;
}





/*Buttons */
.btn-explore {
  background-color: #f3e576;
  color: black;
  /*border-radius: 0px 0px 20px 20px !important;*/
}


.twitter-share-button {
  color: #38A1F3;
}


/*New Login Form*/
.login-text {
  /*width: 100%;*/
  margin-top:-5px;
  color: #fff !important;
  font-family: "Poppins", sans-serif;
}
.login-text-other {
  /*width: 100%;*/
  border-radius: 40px;
  color: #f3e576 !important;
  font-family: "Poppins", sans-serif;
}

.drop-in {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
}

.form-input {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.button-enlarge:hover {
  transform: scale(1.2, 1.2);
  transition: 0.15s;
}

.width-70{
  width: 70%;
}
.width-100{
  width: 100%;
}



/*Login Error Message*/
.error-message {
  color: white;
}


/*Explore Page*/
/* Timeline */
.timeline {
  border-left: 4px solid #f3e576;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poppins", sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 30%;
}

.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
  font-family: "Poppins", sans-serif;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #f3e576;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
.plug-link {
  text-deocration: none !important;
  color: #f3e576;
}
.title {
  color: #fff;
  font-family: "Poppins", sans serif;
}
.activity-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.activity-feed {
  padding: 15px;
  list-style: none;

  .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 2px solid #e4e8eb;

    &:last-child {
      border-color: transparent;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -6px;
      width: 10px;
      height: 10px;
      border-radius: 6px;
      background: #fff;
      border: 1px solid @brand-secondary;
    }

    .date {
      display: block;
      position: relative;
      top: -5px;
      color: #8c96a3;
      text-transform: uppercase;
      font-size: 13px;
    }
    .text {
      position: relative;
      top: -3px;
    }
  }
}


/* SIDEBAR */
.sidebar-container{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  padding:10px;
}

/*Contains Header Title and exit sidebar button*/
.sidebar-header{
  width:100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.sidebar-header button{
 font-size: 30px;
}


.sidebar-menu{
  display: flex;
}
.sidebar-menu li{
  margin: 10px;
}

.sidebar-menu-item{
  color: #f3e576;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  margin: 10px;
}

.sidebar-smaller{
  font-size: 20px;
}
