body {
  background-color: #151513;
  height: inherit;
  overflow-x: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

/*

  Extras
*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* Text */
.artist-text {
  z-index: 0;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 30px;

  flex-wrap: wrap;
}
.clearfix {
  clear: both;
}

.btn-share {
  color: #f3e576 !important;
  background-color: #151513 !important;
  font-family: 'Poppins', sans-serif !important;
}

.buttons-panel {
  margin-right: auto;
  margin-left: auto;
}

.buttons-panel .button-in {
  cursor: pointer;
  transition: 0.15s;
  width: 80px;
  height: 80px;
  padding: 5px;
}
.button-in:hover, .button-in:active {
  transform: scale(0.9, 0.9);
}

.button-small {
  width: 25px !important;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;

}
.top-menu {
  z-index: 0;
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: #f3e576;
  font-size: 30px;
  font-weight: bold;
  flex-wrap: wrap;
}
.cards-list {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-container-god {
  

  /* Vertical Fle for Entire card*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  margin: 30px auto;
  width: 300px;
  height: 100%;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.3s;

  /* Update Margins*/
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 30px;

  /* Vertical Fle for Entire card*/
  display: flex;
  flex-direction: column;
}


.card-container:hover, .card-container:active {
  transform: scale(1.05, 1.05);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}


.card-image-container {
  position: relative;
  width: inherit;
  height: 300px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.invisible-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}


.information-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  /*// display: none;*/
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  /*overflow: hidden;*/
}


.information-overlay .fill {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background:rgba(255, 255, 255, 0.4);
  display: block;
  transform: translate3d(100%,0,0);
  transition: transform 350ms;
  /*overflow*/
  overflow: hidden;
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: 'Poppins', sans-serif;

  font-weight: bold;
  font-size: 30px;
  /*margin-top: -80px;*/
  /*height: 40px;*/
}



.title-black {
  color: black;
}
.btn-sc {
  flex: 25%;
  width: 100%;
  border-radius: 40px;
  object-fit: cover;
  background-color: #ff7700 !important;
  color: white !important;
  border-radius: 0px 0px 20px 20px !important;
}


.information {
  width: 100%;
  border-radius: 40px;
  object-fit: cover;
  color: white !important-;
  font-family: 'Poppins', sans-serif;
}
.information-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;


   /*overflow*/

  overflow: hidden;
  text-overflow: ellipsis;
}
.details {
  width: 75%;

  object-fit: cover;
  border-radius: 0 0 0 0;
  z-index: 1;

  padding: 2px 16px;
  font-family: 'Poppins', sans-serif;

  color: white;

  /*Flex For Track Name and Artist*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.icon-on-overlay {
  width: 25%;
  height:100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
  /*background-color: red;*/
}

.title-text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
  font-family: "Poppins", sans-serif;
  /*background-color: blue;*/
  z-index: -1
}



@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

